@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing:border-box;
    width:100%;
    margin: 0px;
    padding:0px
}
.gradient_dayblue_blue_green500 {
    background: rgb(77,98,229);
    background: linear-gradient(40deg, rgba(77,98,229,1) 0%, rgba(135,221,238,1) 20%, rgba(182,240,156,1) 200%);
    background-clip:text
}

.glass_gradient {
    background: rgb(215,237,237);
    background: linear-gradient(90deg, rgba(215,237,237,1) -700%, rgba(204,235,235,0) 110%);
}

.scrollbar_user_panel_gradient {
    background: rgb(87,87,87);
    background: linear-gradient(0deg, rgba(87,87,87,1) -500%, rgba(0,0,0,0) 50%, rgba(87,87,87,1) 500%);
}

